header{
    background-color:#ffffff9a;
    margin: 0;
}

#title-name{
    font-family: 'DM Serif Text', serif;
    font-size: 70px;
    color: #0b0463;
    margin-left: 210px;
    margin-top: 20px;
    text-shadow: 2px 2px 2px #00000050;
}

nav{
    position: absolute;
    top: 50px;
    right: 215px;

}

#restaurant-search{
    width: 350px;
    height: 70px;

}

#location-search{
    width: 250px;
    height: 70px;

}

#search-icon{
    width: 90px;
    height: 70px;
    background-color: #0b0463;
    color: #FEFAE0;
}

body{
    background-color: #ffffff;
    
}

#homepage-img{
    height: 750px;
    width: 1500px;
    opacity: 0.9;
    margin-top: 30px;
    margin-left: 200px;

}

.hide{
    display: none;
}